.cart-widget {
    position: relative;
    cursor: pointer;
    text-align: center;
    z-index: initial;
  }
  
  .qty-display {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: black;    
    border-radius: 50%;
    font-size: 12px;    
    text-align: center;
    line-height: 17px;
    margin-right: 50%;
    
  }
  
  .cartStyle {

    font-size: 25px;
    color: white;
    display: flex;
    z-index: inherit;
    
  }